$base-color: grey;
$base-font-size: 15px;
$base-font-family:monospace;
@mixin set-font($size){
    font-size: $base-font-size*$size;
}

body{
    font-family: $base-font-family;
    height: 100vh;
    margin: 0;
    padding: 20px;
    display: grid;
    color: $base-color;
    grid-template-columns: repeat(4, 1fr);
    // grid-auto-rows: minmax(250px, auto);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "cur cur cur cur"
      "day day day day";
    
}

.current{
    display: flex;
    flex-direction: column;
    grid-area: cur;

    &__location{
        @include set-font(3);
    }

    &__date{
        @include set-font(2);
    }

    &__temperature{
        @include set-font(8);
    }

    &__apparent-temperature{
        @include set-font(2);
    }

    &__icon img{
        width: 300px;
        height: auto;
    }

    &__summary{
        @include set-font(2);
    }

    &__wind-speed{
        @include set-font(2);
    }

    &__humidity{
        @include set-font(2);
    }
}

.daily{
    display: flex;
    grid-area: day;
    margin-top: 50px;

    &__days + &__days{
        margin-left: 50px;
    }

    &__days{
        @include set-font(2);
    }

    &__temperature{
        @include set-font(4);
    }

    &__icon img{
        width: 150px;
        height: auto;
    }
}